<template>
  <div>
    <button v-on:click="onButtonClick">{{message}}</button>
  </div>
</template>

<script>
  export default {
    name: 'clickButton',
    props: ['message'],
    methods: {
      onButtonClick () {
        this.$emit('buttonHasBeenClicked')
      }
    }
  }
</script>

<style scoped>

</style>
