<template>
  <div id="hello">
    <img src="http://vuejs.org/images/logo.png">
    <h1>{{ msg }}</h1>
    <div class="counter">{{ counter }}</div>
    <clickButton message="Coucou" v-on:buttonHasBeenClicked="incrementCounter"></clickButton>
    <button class="roll-the-dice" v-on:click="incrementFromTheDice">Dice</button>
  </div>
</template>

<script>
  import clickButton from './Button'

  export default {
    name: 'hello',
    components: {
      clickButton
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        counter: 0
      }
    },
    methods: {
      incrementCounter () {
        this.counter++
      },
      incrementFromTheDice: function () {
        this.$http.get('http://setgetgo.com/rollthedice/get.php')
          .then((response) => {
            this.counter += parseInt(response.body, 10)
          }, () => {
            console.log('La Base semble être KO !')
            this.counter = 0
          })
      }
    }
  }
</script>

<style scoped>
  #hello {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
