<template>
  <li>
    <a @click="onClick" class="nav-link">
      <slot></slot>
    </a>
  </li>
</template>

<script>
  export default {
    name: 'VueButton',
    data () {
      return {
        section: 'App',
        lang: 'en'
      }
    },
    methods: {
      onClick (e) {
        this.$emit('click', e)
      }
    },
    props: {
      isActive: {
        type: Boolean,
        required: false
      }
    }
  }
</script>

<style scoped>
  a {
    cursor: pointer;
  }
</style>
