<template>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class=" md-offset-4 col-md-3 md-offset-4 text-center">
        <h2>{{ $t("App.Login.login") }}</h2>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="md-offset-4 col-md-3 md-offset-4 bg-form ptb-20">

        <div class="col-md-12 on-top bg-form text-center">
          <div class="loader" v-if="loading"></div>
        </div>

        <form v-on:submit.prevent="loginUser()" method="post">

          <div class="col-md-12">
            <input required type="text" placeholder=" " name="username"
                   v-model="loginDetails.username">
            <label for="username" class="">{{ $t("App.Login.username") }}</label>
          </div>

          <div class="col-md-12">
            <input required type="password" placeholder=" " name="password"
                   v-model="loginDetails.password">
            <label for="password">{{ $t("App.Login.password") }}</label>
          </div>

          <p class="col-md-12 pt-20 text-center bg-form">
            <button class="btn btn-primary btn-group-sm">{{ $t("App.Login.login") }}</button>
          </p>

          <!-- errors -->
          <span v-if="error" class="pt-20">
            <div class="alert-danger text-center">{{ $t("App.Login.loginError") }}</div>
            <div class="alert-danger errorDetail">{{error.message}}</div>
          </span>

        </form>
        <div class="col-md-12 ptb-20">
          {{ $t("App.Login.noAccount") }}
          <router-link to="/register"> {{ $t("App.Login.register") }}</router-link>
        </div>

      </div>
    </div>

  </div>


</template>
<script>
  export default {
    name: 'LoginView',
    data () {
      return {
        loginDetails: {
          username: '',
          password: ''
        }
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
      error () {
        return this.$store.getters.error
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      loginUser () {
        this.$store.dispatch('login', {
          username: this.loginDetails.username,
          password: this.loginDetails.password,
          route: this.$router
        })
      },
      loginAuth () {
        this.$store.dispatch('loginAuth', {
          route: this.$router
        })
      },
      resetErrors () {
        this.$store.dispatch('resetErrors')
      }
    },
    created () {
      this.loginAuth()
      this.resetErrors()
    },
    beforeDestroyed () {
      console.log('Inside LoginVue BEFORE DESTROYED')
    },
    destroyed () {
      console.log('Inside LoginVue DESTROYED')
    }
  }
</script>
<style lang="scss" scoped>
  .errorDetail {
    text-align: center;
    font-size: 10px;
  }

  .alert-danger {
    padding: 8px 0;
  }

  .ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pt-20 {
    padding-top: 20px;
  }

  .bg-form {
    background-color: #f9f9f9;
    padding: 10px;
  }

  label {
    margin: 8px 0;
  }

  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    z-index: auto;
    margin: 0 auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  form {
    margin: 0 auto;

    > div {
      position: relative;
      background: white;
      border-bottom: 1px solid #ccc;

      > label {
        opacity: 0.3;
        font-weight: bold;
        position: absolute;
        top: 22px;
        left: 20px;
      }

      > input[type="text"],
      > input[type="email"],
      > input[type="password"] {
        width: 100%;
        border: 0;
        padding: 20px 20px 20px 50px;

        &:focus {

          outline: 0;
          background: white;

          & + label {
            opacity: 0;
          }
        }

        &:valid {
          background: url('../../../src/assets/check.svg');
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 20px 20px;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
          background: pink;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 200px;
            padding: 0 30px 20px 50px;
          }
        }
      }

      .requirements {
        padding: 0 30px 0 50px;
        // color: #999;
        max-height: 0;
        transition: 0.28s;
        overflow: hidden;
        color: red;
        font-style: italic;
      }
    }

    input[type="submit"] {
      display: block;
      width: 100%;
      margin: 20px 0;
      background: #41D873;
      color: white;
      border: 0;
      padding: 20px;
      font-size: 1.2rem;
    }
  }

  * {
    box-sizing: border-box;
  }

</style>
