<template>

</template>
<script>
  export default {
    name: 'Logout',
    data (router) {
      return {
        section: 'Logout',
        loading: ''
      }
    },
    mounted () {
      this.$store.dispatch('logout')
      window.localStorage.removeItem('userToken')
      window.localStorage.removeItem('user')
      this.$router.push('/login')
    }
  }
</script>
