<template>
  <div class="container">
    <div class="col-xs-12">
      <h1>NotFound vue</h1>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'NotFoundView'
  }
</script>
<style>
</style>
