<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class=" md-offset-4 col-md-4 md-offset-4 text-center">
        <h2>{{ $t("App.Register.register") }}</h2>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class=" md-offset-4 col-md-4 md-offset-4 text-center bg-form">

        <div class="col-md-12 on-top bg-form text-center">
          <div class="loader" v-if="loading"></div>
        </div>

        <form v-on:submit.prevent="registerUser()" method="post">
          <div class="col-md-12">
            <input required type="text" placeholder=" " name="name"
                   v-model="registerDetails.name">
            <label for="name">{{ $t("App.Register.name") }}</label>
          </div>
          <div class="col-md-12">
            <input required type="text" placeholder=" " name="surname"
                   v-model="registerDetails.surname">
            <label for="surname">{{ $t("App.Register.surname") }}</label>
          </div>
          <div class="col-md-12">
            <input required type="text" placeholder=" " name="username"
                   v-model="registerDetails.username">
            <label for="username">{{ $t("App.Register.username") }}</label>
          </div>
          <div class="col-md-12">
            <input type="password" id="password" name="password" required placeholder=" "
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                   v-model="registerDetails.password"/>
            <label for="password">{{ $t("App.Register.password") }}</label>

            <div class="requirements">
              {{ $t("App.Register.passwordValidationMessage") }}
            </div>

          </div>
          <div class="col-md-12">
            <input required type="email" placeholder=" " name="email"
                   v-model="registerDetails.email">
            <label for="email">{{ $t("App.Register.email") }}</label>
            <div class="requirements">
              {{ $t("App.Register.mailValidationMessage") }}
            </div>
          </div>

          <p class="col-md-12 pt-20 text-center bg-form">
            <button class="btn btn-primary btn-group-sm">{{ $t("App.Register.validate") }}</button>
          </p>

          <!-- errors -->
          <span v-if="error" class="pt-20">
            <div class="alert-danger text-center">
              {{ $t("App.Register.errorMessage") }}</div>
            <div class="alert-danger errorDetail">{{error.message}}</div>
          </span>

        </form>

        <div class="col-md-12 ptb-20">
          {{ $t("App.Register.alreadyAccount") }}
          <router-link to="/login"> {{ $t("App.Register.login") }}</router-link>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
  export default {
    name: 'RegisterView',
    data () {
      return {
        registerDetails: {
          name: '',
          surname: '',
          username: '',
          email: '',
          password: '',
          photoUrl: '3F6B966D00000578-4428630-image-m-80_1492690622006.jpg'
        }
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
      error () {
        return this.$store.getters.error
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/home')
        }
      }
    },
    methods: {
      registerUser () {
        this.$store.dispatch('register', {
          name: this.registerDetails.name,
          surname: this.registerDetails.surname,
          username: this.registerDetails.username,
          email: this.registerDetails.email,
          password: this.registerDetails.password,
          photoUrl: this.registerDetails.photoUrl,
          route: this.$router
        })
      },
      registerAuth () {
        this.$store.dispatch('registerAuth', {
          route: this.$router
        })
      },
      resetErrors () {
        this.$store.dispatch('resetErrors')
      }
    },
    created () {
      this.registerAuth()
      this.resetErrors()
    },
    beforeDestroyed () {
      console.log('Inside LoginVue BEFORE DESTROYED')
    },
    destroyed () {
      console.log('Inside LoginVue DESTROYED')
    }
  }
</script>
<style lang="scss" scoped>
  .errorDetail {
    text-align: center;
    font-size: 10px;
  }

  .alert-danger {
    padding: 8px 0;
  }

  .ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pt-20 {
    padding-top: 20px;
  }

  .bg-form {
    background-color: #f9f9f9;
    padding: 10px;
  }

  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    z-index: auto;
    margin: 0 auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  form {
    margin: 0 auto;

    // positioning context
    > div {
      position: relative;
      background: white;
      border-bottom: 1px solid #ccc;

      // Looks like placeholder
      > label {
        opacity: 0.3;
        font-weight: bold;
        position: absolute;
        top: 22px;
        left: 20px;
      }

      > input[type="text"],
      > input[type="email"],
      > input[type="password"] {
        width: 100%;
        border: 0;
        padding: 20px 20px 20px 50px;

        &:focus {

          // removing default focus style
          outline: 0;
          // adding new one
          background: white;

          & + label {
            opacity: 0;
          }
        }

        &:valid {
          background: url('../../../src/assets/check.svg');
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 20px 20px;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
          background: pink;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 200px;
            padding: 0 30px 20px 50px;
          }
        }
      }

      .requirements {
        padding: 0 30px 0 50px;
        color: #999;
        max-height: 0;
        transition: 0.28s;
        overflow: hidden;
        color: red;
        font-style: italic;
      }
    }

    input[type="submit"] {
      display: block;
      width: 100%;
      margin: 20px 0;
      background: #41D873;
      color: white;
      border: 0;
      padding: 20px;
      font-size: 1.2rem;
    }
  }

  * {
    box-sizing: border-box;
  }

</style>
