<template>
  <div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" style="cursor: pointer">
        <router-link to="/home">
          <span v-t="{ path: path }"></span>
        </router-link>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a style="cursor:pointer;" class="nav-link">
              <router-link to="/protected">
                {{ $t("App.nav.page") }} 1
              </router-link>
            </a>
          </li>
          <li class="nav-item">
            <a style="cursor:pointer;" class="nav-link">
              <router-link to="/products">
                {{ $t("App.nav.products") }}
              </router-link>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <lang-button @click="langSwitch('en')" :isActive="lang === 'en'">EN</lang-button>
          <lang-button @click="langSwitch('fr')" :isActive="lang === 'fr'">FR</lang-button>
          <template v-if="!user">
            <li>
              <router-link to="/register">
                <a style="cursor: pointer;" class="nav-link">
                  <span class="glyphicon glyphicon-user"></span> {{ $t("App.nav.signup")}}</a>
              </router-link>
            </li>
            <li>
              <router-link to="/login">
                <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> {{ $t("App.nav.signin") }}</a>
              </router-link>
            </li>
          </template>
          <template v-if="user">
            <li>
              <router-link to="/account" class="profilePicLink">
                <div class="profilePic"
                     :style="{ 'background-image': 'url(../../../static/img/'+ user.photoUrl + ')' }"></div>
              </router-link>
            </li>
            <li>
              <router-link to="/logout">
                <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-out"></span> {{ $t("App.nav.logout") }}</a>
              </router-link>
            </li>
          </template>
        </ul>
      </div>
    </nav>
  </div>

</template>
<script>
  import LangButton from './shared/langButton.vue'
  import { loadLanguageAsync } from '../utils/i18n-setup'

  export default {
    name: 'AppHeader',
    components: {
      LangButton
    },
    data () {
      return {
        section: 'Header',
        path: 'App.appTitle',
        lang: 'en'
      }
    },
    methods: {
      langSwitch (lang) {
        this.lang = lang
        loadLanguageAsync(lang)
          .catch((error) => console.log(error))
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
      loading () {
        return this.$store.getters.loading
      }
    }
  }
</script>
<style>
  .profilePicLink {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    top: 5px;
  }

  .profilePic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
  }
</style>
