<template>
  <div>
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>
  import AppHeader from './Header.vue'

  export default {
    name: 'Marketplace',
    components: {AppHeader},
    data () {
      return {
        msg: 'Vos produits locaux en quelques clics',
        title: 'Marketplace project'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
