<template>
  <div>
    <div>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col">
            <h2>
              <span v-t="{ path: path }"></span>
            </h2>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class=" md-offset-3 col-md-6 md-offset-3 text-center">
            <div class="alert alert-success" role="alert" v-if="successRegistering">
              <button type="button" class="close" aria-label="Close" v-on:click="dismissRegisterSuccessAlert">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ $t("App.Landing.successRegistering") }}
            </div>
            <div class="alert alert-success" role="alert" v-if="successLogging">
              <button type="button" class="close" aria-label="Close" v-on:click="dismissLoginSuccessAlert">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ $t("App.Landing.successLogin") }}
            </div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="md-offset-3 col-md-6 md-offset-3 text-center">
            <img src="../assets/local.png" class="" alt="Commerce local">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="md-offset-4 col-md-4 md-offset-4 text-center">
            <router-link to="/landingCustomer">
              <button class="btn btn-primary">{{ $t("App.Landing.button.buy") }}</button>
            </router-link>
            <router-link to="/landingSeller">
              <button class="btn btn-default">{{ $t("App.Landing.button.sell") }}</button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Landing',
    data () {
      return {
        section: 'Landing',
        path: 'App.Landing.title'
      }
    },
    computed: {
      successRegistering () {
        return this.$store.getters.successRegistering
      },
      successLogging () {
        return this.$store.getters.successLogging
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
      dismissLoginSuccessAlert () {
        this.$store.dispatch('dismissLoginSuccessAlert')
      },
      dismissRegisterSuccessAlert () {
        this.$store.dispatch('dismissRegisterSuccessAlert')
      }
    },
    destroyed () {
      this.dismissLoginSuccessAlert()
      this.dismissRegisterSuccessAlert()
    }
  }
</script>
<style>

</style>
