<template>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="md-offset-1 col-md-10 text-left">
        <div class="row justify-content-md-center">
          <div class="col-md-12 text-left">
            <h1>{{$t('App.Account.account')}}</h1>
            <hr>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-8 text-left">
            <div class="col-md-8">
              <h3 style="display: inline;">
                {{$t('App.Account.datas')}}
              </h3>
              <router-link to="{name='/account/modify/', param='user.id'}">
                {{$t('App.Account.modify')}}
              </router-link>
              <hr>
              <div class="row justify-content-md-center">
                <div class="col-md-6">{{$t('App.Account.name')}}</div>
                <div class="col-md-6">{{ user.name}}</div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-6">{{$t('App.Account.surname')}}</div>
                <div class="col-md-6">{{ user.surname}}</div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-6">{{$t('App.Account.username')}}</div>
                <div class="col-md-6"> {{ user.username}}</div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-6">{{$t('App.Account.email')}}</div>
                <div class="col-md-6">{{ user.email}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <div class="profilePic"
                   :style="{ 'background-image': 'url(../../../static/img/'+ user.photoUrl + ')' }"></div>
            </div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-md-12 text-left">
            <h3>
              Dernières commandes
            </h3>
            <hr>
            Composant commandes ici
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { HTTP } from '../../utils/http-common'

  export default {
    data () {
      return {
        books: ''
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    created () {
      let token = localStorage.getItem('userToken')
      HTTP.get(`/api/books`, {
        headers: {
          Authorization: 'Bearer ' + token
        }
      })
        .then(response => {
          this.books = response.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
</script>
<style scoped>
  .profilePic {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
  }

  .pt-80 {
    padding-top: 80px;
  }
</style>
