<template>
  <div>
    <div>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col">
            <h2>
              {{message}}
            </h2>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class=" md-offset-3 col-md-6 md-offset-3 text-center">
            <div class="alert alert-success" role="alert" v-if="successRegistering">
              <button type="button" class="close" aria-label="Close" v-on:click="dismissRegisterSuccessAlert">
                <span aria-hidden="true">&times;</span>
              </button>
              Compte client créé avec succès!
              Vous pouvez vous connecter dès à présent.
            </div>
            <div class="alert alert-success" role="alert" v-if="successLogging">
              <button type="button" class="close" aria-label="Close" v-on:click="dismissLoginSuccessAlert">
                <span aria-hidden="true">&times;</span>
              </button>
              Connexion réussie!
            </div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class=" md-offset-4 col-md-4 md-offset-4 text-center ptb-20">
            <img src="../../assets/LandingCustomer.png" class="img" alt="Commerce local">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class=" md-offset-4 col-md-4 md-offset-4 text-center ptb-20">
            <router-link to="/register">
              <button class="btn btn-primary">INSCRIPTION</button>
            </router-link>
            <router-link to="/login">
              <button class="btn btn-default">CONNEXION</button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Landing',
    data () {
      return {
        section: 'Landing',
        message: 'Achats locaux en un clic'
      }
    },
    computed: {
      successRegistering () {
        return this.$store.getters.successRegistering
      },
      successLogging () {
        return this.$store.getters.successLogging
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
      dismissLoginSuccessAlert () {
        this.$store.dispatch('dismissLoginSuccessAlert')
      },
      dismissRegisterSuccessAlert () {
        this.$store.dispatch('dismissRegisterSuccessAlert')
      }
    }
  }
</script>
<style>
  .ptb-20 {
    padding: 20px 0;
  }
</style>
