<template>
  <div class="container">
    <div class="col-md-12">
      <h1>
        {{ $t("App.Products.all")}}
      </h1>
    </div>

    <div class="row">
      <div class="card-deck col-md-4 pt-5" v-for="book in books">
        <div class="card">
          <img class="card-img-top" src="http://lorempixel.com/300/200/" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{book.name}}</h4>
            <p class="card-text">
              {{book.description}}
            </p>
            <p>
              {{$t('App.Products.reference')}}: #{{book.id}}
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="card-link">{{ $t("App.Products.more")}}</a>
            <a href="#" class="card-link">{{ $t("App.Products.addToCart")}}</a>

            <!--<small class="text-muted"> {{ $t("App.Products.more")}}</small>-->
            <!--<small class="text-muted"> {{ $t("App.Products.addToCart")}}</small>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { HTTP } from '../../utils/http-common'

  export default {
    data () {
      return {
        books: ''
      }
    },
    created () {
      HTTP.get(`/api/books`)
        .then(response => {
          this.books = response.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
</script>
<style scoped>
</style>
