<template>
  <div class="container">
    <div class="col-xs-12">
      <h1>
        API protected content
      </h1>
    </div>
    <div class="col-xs-12">
      <ul class="list-group">
        <li v-for="book in books" class="list-group-item">
          {{ book.id}} - {{ book.name }} - {{ book.price}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import { HTTP } from '../../utils/http-common'

  export default {
    data () {
      return {
        books: ''
      }
    },
    created () {
      let token = localStorage.getItem('userToken')
      HTTP.get(`/api/books`, {
        headers: {
          Authorization: 'Bearer ' + token
        }
      })
        .then(response => {
          this.books = response.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
</script>
